@(inputForm: Form[play.data.DynamicForm])(success: String)
@import helper._
@import helper.twitterBootstrap._
@import controllers.routes.javascript._
<html>
	<head>
		<title>sqs test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
		<script type="text/javascript" src="@controllers.routes.Application.routes()"></script>
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script type="text/javascript">
		<!--
			$(function(){
				
			});
		-->
		</script>
	</head>
	<body>
	@helper.form(action = controllers.routes.Application.setUserName()) {
		<fieldset>
			@helper.inputText(inputForm("name"), '_label -> "name", '_showConstraints -> false, '_showErrors -> false)
		</fieldset>
	}
	@helper.form(action = controllers.routes.Application.shout()) {
		<fieldset>
			@helper.inputText(inputForm("items"), '_label -> "アイテムNo.(複数選択可、カンマ区切りで入力)", '_showConstraints -> false, '_showErrors -> false)
		</fieldset>
		<input type="button" id="exec" class="btn btn-primary" value="実行" onClick="confirmDeleteCart(this.form)">
	}
	<div id="puller">
		
	</div>
